* {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}

body {
    background-color: #E3E6E6;
}

link[rel="icon"]::after {
    content: "";
    display: block;
    width: 16px; /* Adjust the width as needed */
    height: 10px; /* Adjust the height as needed */
    background-image: url('/AMAZON Clone/image/titlelogo.jpg');
    background-size: cover;
    border-radius: 20px; /* Optional: Create a circular shape */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Optional: Add a subtle box shadow */
}

.nav {
    height: 60px;
    background-color: #131a22;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.border {
    border: 1.4px solid transparent;
    height: 50px;
}

.border:hover {
    border-color: white;
    border-radius: 2px;
}

.nav-logo {
    width: 113px;
    height: 50px;
    display: flex;
    align-items: center;
}

.logo {
    background-image: url("/AMAZON Clone/image/amazon_logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 60px;
    width: 100%;
}


.nav-add {
    height: 50px;
    width: 90px;
}


.line1 {
    margin-top: 8px;
    font-size: 0.7rem;
    margin-left: 30px;
}

.line2 {
    font-size: 1rem;
    margin-left: 6px;
    font-weight: bold;
}

.loc-icon {
    margin-left: 12px;
    display: flex;
    align-items: center;
}


.nav-search {
    display: flex;
    width: 50%;
}

.nav-search:hover {
    border: 3px solid #ffa32a;
    border-radius: 8px;
}


.nav-search search-border{
    background: #fff;
}
.search-select {
    padding-left: 3px;
    height: 40px;
    width: 51px;
    background: #e6e6e6;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.search-input {
    padding-left: 8px;
    width: 700px;
    border: none;
}

.search-icon {
    background-color: #febd68;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #0F1111;
    font-size: 1.1rem;
}



.nav-signin {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 135px;

}

span {
    font-size: 0.7rem;
}

.p-second {
    font-size: 0.85rem;
    font-weight: 700;
}

.nav-order {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 80px;
}


.nav-cart i {
    font-size: 30px;
}

.nav-cart {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    font-size: 0.85rem;
    font-weight: 700;

}


.border-panel {
    border: 1.4px solid transparent;
    /* height:23px ; */
}

.border-panel:hover {
    border-color: white;
    border-radius: 2px;
}

.panel {
    background-color: #232f3e;
    height: 40px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.panel-all {
    font-size: 20px;
    padding: 8px 9px;
    font-weight: 700;
    /* margin-left: 11px; */

}

.panel-ops {
    display: flex;
    width: 80%;
}

.panel-ops p {
    display: inline;
    margin: 5px 6px;
    padding: 8px 9px;
    font-size: 14px;
}

.panel-ops p :hover {
    border-color: white;
    border-radius: 2px;
}

.panel-ops .ops {
    display: inline;
    padding: 8px 12px;
    font-size: 0.87rem;
    /* margin: 5px 6px; */
}

.deals .text {
    font-size: 1rem;
    font-weight: 700;
    padding: 9px;

}


/* hero-section */
.hero-section {
    background-image: url("/AMAZON Clone/image/banner2.jpg");
    width: 98.5%;
    background-size: cover;
    height: 600px;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 -55px 186px #E3E6E6;
}

.hero-msg {
    background-color: white;
    color: black;
    width: 95%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.88rem;
}

.hero-msg a {
    text-decoration: none;
    color: #007185;
    font-size: 0.88rem;

}





.shop-section {
    position: relative;
    bottom: 250px;
    display: flex;
    width: 98.5%;
    margin: auto;
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;

}

.box {
    margin-top: 20px;
    background-color: white;
    height: 420px;
    width: 350px;
}

.box:hover {
    p {
        color: #e55d16;
    }
}

.contain {
    padding: 20px;
}

.contain a{
    text-decoration: none;
    color: black;
}


.box p {
    /* position: absolute; */
    margin-top: 23px;
    color: #007185;
    font-size: 0.87rem;
    font-family: 'Akatab', sans-serif;
}

.contain h2 {
    font-size: 1.3rem;
}

.box-img {
    margin-top: 10px;
    height: 275px;
    width: 100%;
}

.box-img:hover {
    cursor: pointer;
}

.box-img-full {
    margin-top: 10px;
    height: 304px;
    width: 100%;
}

.box-img-full:hover {
    cursor: pointer;
}

.multi-img-container {
    border: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
    height: 304px;
    width: 100%;
    /* border:2px solid #0F1111; */
}

.multi-img {
    height: 120px;
    width: 143px;
}

.multi-img:hover {
    cursor: pointer;
}

.multi-text {
    display: flex;
    align-items: end;
    height: 140px;
    width: 120px;
    font-size: 0.8rem;
    font-family: 'Akatab', sans-serif;

    /* border: 2px solid black; */
}

.footer-panel1 {
    background-color: #37475a;
    color: white;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
    margin-top: -200px;
}

.footer-panel2 {
    background-color: #232F3E;
    color: white;
    display: flex;
    height: 400px;
    justify-content: center;
    font-family: 'Asap', sans-serif;

    /* align-items: center; */
    p {
        font-size: 1.1rem;
        font-weight: 700;
        margin: 6px 0 14px;
    }
}

.footer-contant {
    margin-left: 50px;
    margin-right: 50px;

}

.footer-panel2 ul {
    margin-top: 50px;
}

.footer-panel2 ul a {
    display: block;
    color: white;
    text-decoration: none;
    font-size: 0.87rem;
    margin: 0 0 10px;
}

.footer-panel2 ul a:hover {
    text-decoration: underline;
}


.footer-panel3 {
    background-color: #232F3E;
    color: white;
    height: 90px;
    border-top: 0.2px solid rgb(107, 107, 107);
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-panel3 .contant {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1000px;
    margin: 15px 0 25px 0;

}


.contant .logo {
    background-image: url("/AMAZON Clone/image/amazon_logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 50px;
    width: 100px;
    margin-right: 60px;
}

.footer-panel3 .more {
    display: flex;
    justify-content: center;
    align-items: center;
}


.footer-panel3 p {
    padding: 0px 8px;
}

.footer-panel3 .item1 {
    margin-right: 5px;
    width: 115px;
    height: 30px;
    border: 1px solid #848688;
    border-radius: 3px;
    padding: 2px 1px 2px 8px;
    font-size: 13px;
    display: flex;
    align-items: center;

    i {
        margin-left: 3px;
        font-size: 17px;
    }
}

.footer-panel3 .item2 {
    margin-right: 5px;
    width: 150px;
    height: 30px;
    border: 1px solid #848688;
    border-radius: 3px;
    padding: 2px 1px 2px 8px;
    font-size: 13px;
    display: flex;
    align-items: center;

    i {
        margin-left: 3px;
        font-size: 17px;
    }
}


.footer-panel3 .item3 {
    margin-right: 5px;
    width: 137px;
    height: 30px;
    border: 1px solid #848688;
    border-radius: 3px;
    padding: 2px 1px 2px 8px;
    font-size: 13px;
    display: flex;
    align-items: center;
}

.ind-logo {
    margin-left: 3px;
    width: 25px;
    height: 18px;
}


.footer-panel4 {
    height: 370px;
    height: max-content;
    background-color: #131a22;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-panel4 .contant {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 1000px;
    height: max-content;
    margin-top: 22px ;
}

.footer-panel4 .contant .item {
    width: 120px;
    height: 70px;
    margin: 10px 10px;
    line-height: 70%;
}

.footer-panel4 .contant .item {

    p {
        color: #ddd;
        font-size: 12px;
        font-weight: 600;
        letter-spacing: 0.5px;
        font-family: 'Akatab', sans-serif;
    }

    a {
        color: #999;
        text-decoration: none;
        font-size: 13px;
        font-weight: 545;
        font-family: 'Akatab', sans-serif;

    }
    a:hover {
        text-decoration: underline;
    }

}


.footer-panel5 {
    height: max-content;
    border-top: 0.01px solid rgb(40, 40, 40);
    background-color: #131a22;
    padding: 10px 0 30px;

}

.footer-panel5 ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-panel5 ul li{
    display: flex;
    list-style: none;
    text-decoration: none;
}

.footer-panel5 ul li a{
    text-decoration: none;
    color: #ddd;
    font-size: 0.78rem;
    font-family: 'Akatab', sans-serif;
    font-weight: 600;
    padding: 0 8px;
}


.footer-panel5 span{
    display: flex;
    justify-content: center;
    align-items: center;
    color:#ddd ;
}

.jc-logo{
    background-color: black;
}
.jc-logo video {
    margin: auto;
    display: block;
    padding: 15px;
    width: 150px;
    height: auto;
    outline: none;
    border: none;
}

.laptop-message  {
    display: block;
}

@media only screen and (min-width: 920px) {
    .mobile-message {
        display: none;
    }

}

@media only screen and (max-width: 920px) {
    .laptop-message {
        display: none;
    }

    body{
        background: white;
    }

    
    .mobile-message {

        position: fixed;
        top: 38%;
        left: 5%;
        transform: translate(-3%, -30%);
        z-index: 9999;

        

        /* margin-top: 15%; */
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        display: block;
        color: red;
        font-size: 18px;
        h3{
            margin: 7%;
            color: #002855;
        }
        p{
            color: #fb8800;
            margin-left: 3%;
            margin-right: 3%;
        }
        img{
            width: 80%;
        }
    }
}
